[Desktop Entry]
Encoding=UTF-8
Name=Link to http://blog.kissmetrics.com/wp-content/uploads/2013/02/workplace-burnout-triangle.jpg
Type=Link
URL=http://blog.kissmetrics.com/wp-content/uploads/2013/02/workplace-burnout-triangle.jpg
Icon=image-jpeg
