$primary-color: #d1d3b3;
$primary-dark-color: #9fa088;
$secondary-color: $primary-dark-color;
$font-color: #333;
$font-family: "Open Sans", sans-serif;
$white: white;
$gray-dark:#333;
$grey-light:#999999;
$container-width: 80rem;
$font-size: 1rem;

