@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    background: url(/site/templates/assets/subtle_dots.png);
    font-family: $font-family;
    line-height: 1.7em;
    color: $font-color;
    font-style: normal;
}

h1 {
    text-transform: uppercase;
    font-size: 3.0em;
    line-height: 100%;
    margin: 0.67em 0;
    text-align: center;
    color: $primary-color;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    line-height: 1.5em;
    color: $primary-color;
}

h3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 100%;
    color: $primary-color;
}


.content {
    column-count: 2;
    column-gap: 5em;
    ul li {
        list-style: disc;
        list-style-position: outside;
        margin-left: 1em;
        margin-bottom: 0.5em;
        line-height: 1.3;
    }
}

.content__intro {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1.9rem 0;
}

strong {
    font-weight: bold;
}





p + h1, p + h2, p + legend, p + h3, p + h4 {
    margin-top: 2.5em;
  }
  
  p {
    margin: 0 0 1em 0;
  }
  
  p a {
    text-decoration: underline;
  }
  
  p img {
    max-width: 100%;
  }
  
  blockquote {
    margin: 1.9em 0 1.2em 0;
  }
  
  blockquote p {
    margin: -1em 1.5em 0em 2.1em;
    padding: 0;
  }
  
  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 300%;
    /*color:$pbgc;*/
    /*content: "\201C""\201D""\2018""\2019";*/
  }
  
  blockquote:after {
    display: block;
    font-size: 300%;
    content: "\201D";
    text-align: right;
    /*color:$pbgc;*/
  }
  
  .emphasize {
    background-color: rgba(209, 211, 178, 0.3);
    padding: 1em;
  }
  
  .textEmphasize {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #9fa088;
    text-transform: uppercase;
  }